main {
  height: 80vh;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

main > div {
  color: #111;
  height: 90%;
  width: 80%;
  padding: 20px;
}

.listDiv {
  background: #eeefff;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px;
  border: none;
}